<h1>Listing projets</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Sujet</th>
      <th>Date rendu</th>
      <th>Creator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projets.each do |projet| %>
      <tr>
        <td><%= projet.description %></td>
        <td><%= projet.sujet %></td>
        <td><%= projet.date_rendu %></td>
        <td><%= projet.creator %></td>
        <td><%= link_to 'Show', projet %></td>
        <td><%= link_to 'Edit', edit_projet_path(projet) %></td>
        <td><%= link_to 'Destroy', projet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projet', new_projet_path %>
