<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @projet.description %>
</p>

<p>
  <strong>Sujet:</strong>
  <%= @projet.sujet %>
</p>

<p>
  <strong>Date rendu:</strong>
  <%= @projet.date_rendu %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @projet.creator %>
</p>

<%= link_to 'Edit', edit_projet_path(@projet) %> |
<%= link_to 'Back', projets_path %>
