<h1>Listing rendus</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rendus.each do |rendu| %>
      <tr>
        <td><%= rendu.note %></td>
        <td><%= link_to 'Show', rendu %></td>
        <td><%= link_to 'Edit', edit_rendu_path(rendu) %></td>
        <td><%= link_to 'Destroy', rendu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rendu', new_rendu_path %>
