<p id="notice"><%= notice %></p>

<p>
	<table>
		<tbody>
			<% @rendu.renduToUserLinks.each do |renduToUserLink| %>
				<tr><td><%= link_to renduToUserLink.user.nom, renduToUserLink.user %></td></tr>
			<% end %>
		</tbody>
	</table>
  <strong>Note:</strong>
  <%= @rendu.note %>
</p>

<%= link_to 'Edit', edit_rendu_path(@rendu) %> |
<%= link_to 'Back', rendus_path %>
