<p id="notice"><%= notice %></p>

<p>
	<table>
		<tbody>
			<% @rendu.renduToUserLinks.each do |renduToUserLink| %>
				<tr><td><%= link_to renduToUserLink.user.nom + " " + link_to renduToUserLink.user.prenom, renduToUserLink.user %></td></tr>
			<% end %>
		</tbody>
	</table>
	<p>
	<a href="<%= @rendu.data_file_path %>">Data</a>
	</p>
  <strong>Note:</strong>
  <%= @rendu.note %>
</p>

<%= link_to 'Edit', edit_rendu_path(@rendu) %> |
<%= link_to 'Back', rendus_path %>
